main{
  height: 500px;
  border: 2px solid green;
}

.flex-container{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  border: 2px dashed purple;
}

.flex-container div{
  padding: 30px;
  margin: 20px;
  background-color: pink;
  font-size: 30px;
  color: blue;
  border: 1px solid red;
}

